<a href="https://colab.research.google.com/github/alexisboni/ReverseLogisticsOptimization/blob/main/MODELO_DE_LOG%C3%8DSTICA_INVERSA_PARA_EL_MANEJO_DE_RESIDUOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MODELO DE LOGÍSTICA INVERSA PARA EL MANEJO DE RESIDUOS DE VACUNACIÓN COVID EN ESTABLECIMIENTOS DE SALUD UBICADOS EN ZONAS MARGINALES

### LIBRERIAS

In [ ]:
!pip install pulp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pulp
  Downloading PuLP-2.6.0-py3-none-any.whl (14.2 MB)
     |████████████████████████████████| 14.2 MB 23.5 MB/s
Installing collected packages: pulp
Successfully installed pulp-2.6.0

In [ ]:
import numpy as np
import pandas as pd
from pulp import *

### SETS

In [ ]:
# FUNCIÓN PARA PODER HACER SERIES NUMÉRICAS CON TEXTO Y UN NUMERO QUE VARÍE DE 1 EN 1
def serie_str_int(len_range,caracter):
  serie = []
  rang= np.arange(1,len_range+1,1)
  for a in rang:
    serie.append(caracter+ str(a))
  
  return serie

In [ ]:
### SETS DE UNA DIMENSIÓN
# Establecimientos médicos
I= serie_str_int(len_range=32,caracter='EM') # son 32 centros médicos
print(I)

# Centros de Tratamiento
J= ['CT1', 'CT2', 'CT3'] # son 3 centros de tratamiento

# Rellenos Sanitarios
R= ['RS1', 'RS2', 'RS3'] # son 3 rellenos sanitarios

# Periodos de tiempo
T= [1, 2, 3, 4] # son 4 periodos de tiempo

['EM1', 'EM2', 'EM3', 'EM4', 'EM5', 'EM6', 'EM7', 'EM8', 'EM9', 'EM10', 'EM11', 'EM12', 'EM13', 'EM14', 'EM15', 'EM16', 'EM17', 'EM18', 'EM19', 'EM20', 'EM21', 'EM22', 'EM23', 'EM24', 'EM25', 'EM26', 'EM27', 'EM28', 'EM29', 'EM30', 'EM31', 'EM32']

In [ ]:
### SETS DE 2 o 3 DIMENSIONES:
# (Establecimientos médicos,Centros de Tratamiento)
ij = [(CM,CT) for CM in I for CT in J]

# (Centros de Tratamiento,Rellenos Sanitarios)
jr = [(CT,RS) for CT in J for RS in R ]

# (Establecimientos médicos, Periodos)
it = [(CM,t) for CM in I for t in T]

# (Centros de Tratamiento, Periodos)
jt = [(CT,t) for CT in J for t in T ]

# (Rellenos Sanitarios, Periodos)
rt = [(RS,t) for RS in R for t in T ]

# (Establecimientos médicos,Centros de Tratamiento, Periodos)
ijt = [(CM,CT,t) for CM in I for CT in J for t in T ]

# (Centros de Tratamiento,Rellenos Sanitarios, Periodos)
jrt = [(CT,RS,t) for CT in J for RS in R for t in T ]

### PARAMETROS (DATOS)

####LEER EL ARCHIVO CON LOS DATOS

###### El archivo con los datos leídos en el modelo se encuentran en el siguiente link: https://docs.google.com/spreadsheets/d/1FClu1hlgJVLlvvzB-2oiCYUZUfbjmGiSbKf1ag38Azo/edit?usp=sharing

In [ ]:
## Dando acceso a mi google drive para poder leer los datos
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import auth
auth.authenticate_user()
import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [ ]:
!pip install kora
from kora.xattr import get_id

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kora
  Downloading kora-0.9.20-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 3.6 MB/s
Requirement already satisfied: fastcore in /usr/local/lib/python3.7/dist-packages (from kora) (1.5.27)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from kora) (7.9.0)
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (from fastcore->kora) (21.1.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from fastcore->kora) (21.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->kora) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->kora) (5.1.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython->kora) (2.0.10)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->kora) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->kora) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->kora) (4.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->kora) (4.8.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython->kora) (0.2.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 41.3 MB/s
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython->kora) (0.8.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->kora) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->kora) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->fastcore->kora) (3.0.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->kora) (0.7.0)
Installing collected packages: jedi, kora
Successfully installed jedi-0.18.1 kora-0.9.20

In [ ]:
# Reemplazar por la ubicación donde se guarden los datos en su propio drive
ubicacion='/content/drive/MyDrive/TESIS LOGISTICA INVERSA/DATOS.gsheet'
id_archivo = get_id(ubicacion)
archivo = gc.open_by_key(id_archivo)

In [ ]:
# Leyendo datos de distancia desde cada Establecimiento Médico a cada Centro de Tratamiento:

hoja='dECTij'
worksheet=archivo.worksheet(hoja)

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
df_parcial=pd.DataFrame.from_records(rows)
df = df_parcial.iloc[1:,:].copy()
df.columns=['index'] + list(df_parcial.iloc[0,1:])
df.set_index('index', inplace=True)

df = df.replace(',','.', regex=True)
df=df.apply(pd.to_numeric) 

df_dECTij=df.copy()
df_dECTij

         CT1    CT2    CT3
index
EM1    30.14  47.07  16.72
EM2    29.57  46.63  17.39
EM3    28.42   4.54  15.55
EM4     2.92  46.18  16.63
EM5    46.37  61.77  25.75
EM6    27.39  44.60  17.59
EM7    52.23  69.46  38.27
EM8    20.23  37.49  15.02
EM9    24.92  41.53  11.35
EM10   26.16  43.41   1.74
EM11   31.36  48.08  16.27
EM12   22.27  39.60  17.16
EM13   29.97  47.27   2.08
EM14   23.73  41.01  16.56
EM15   22.14  39.38  15.43
EM16   31.22  47.78  15.31
EM17   41.29  13.23  25.48
EM18   99.34   2.69  14.68
EM19   26.44  43.58  16.10
EM20   41.84  58.64  25.64
EM21   80.76  25.42  17.75
EM22   33.37  50.60  21.93
EM23    2.44  41.65  16.21
EM24   23.97  41.30  17.96
EM25   31.01  47.76  16.17
EM26   22.78  40.10  17.15
EM27   45.82  63.12  33.41
EM28   39.30  55.30  20.25
EM29   32.70  49.87   2.08
EM30   34.26  51.42  21.74
EM31   37.48  54.10  20.86
EM32   25.41  42.58  15.91

In [ ]:
# Leyendo datos de distancia desde cada Centro de Tratamiento a cada Relleno Sanitario:

hoja='dCTRSjr'
worksheet=archivo.worksheet(hoja)
# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
df_parcial=pd.DataFrame.from_records(rows)
df = df_parcial.iloc[1:,:].copy()
df.columns=['index'] + list(df_parcial.iloc[0,1:])
df.set_index('index', inplace=True)

df = df.replace(',','.', regex=True)
df=df.apply(pd.to_numeric) 

df_dCTRSjr=df.copy()
df_dCTRSjr

         RS1    RS2    RS3
index
CT1    34.74  15.11  41.63
CT2    52.09  80.86  58.43
CT3    26.28  29.79  25.48

In [ ]:
# Leyendo datos de Costo de Tratamiento en cada Centro de Tratamiento para cada periodo:

hoja='CTratCTjt'
worksheet=archivo.worksheet(hoja)
# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
df_parcial=pd.DataFrame.from_records(rows)
df = df_parcial.iloc[1:,:].copy()
df.columns=['index'] + list(map(int, list(df_parcial.iloc[0,1:])))
df.set_index('index', inplace=True)

df = df.replace(',','.', regex=True)
df=df.apply(pd.to_numeric) 

df_CTratCTjt=df.copy()
df_CTratCTjt

           1      2      3      4
index
CT1    1.386  1.386  1.386  1.386
CT2    0.823  0.823  0.823  0.823
CT3    1.800  1.800  1.800  1.800

In [ ]:
# Leyendo datos de Costo de Entierro en cada Relleno Sanitario para cada periodo:

hoja='CEntierroRSrt'
worksheet=archivo.worksheet(hoja)
# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
df_parcial=pd.DataFrame.from_records(rows)
df = df_parcial.iloc[1:,:].copy()
df.columns=['index'] + list(map(int, list(df_parcial.iloc[0,1:])))
df.set_index('index', inplace=True)

df = df.replace(',','.', regex=True)
df=df.apply(pd.to_numeric) 

df_CEntierroRSrt=df.copy()
df_CEntierroRSrt

           1      2      3      4
index
RS1    0.016  0.016  0.016  0.016
RS2    0.020  0.020  0.020  0.020
RS3    0.021  0.021  0.021  0.021

In [ ]:
# Leyendo datos de Cantidad de Kg de Residuos Covid-19 generados en cada Establecimiento Médico para cada periodo:

hoja='qGeneradait'
worksheet=archivo.worksheet(hoja)
# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
df_parcial=pd.DataFrame.from_records(rows)
df = df_parcial.iloc[1:,:].copy()
df.columns=['index'] + list(map(int, list(df_parcial.iloc[0,1:])))
df.set_index('index', inplace=True)

df = df.replace(',','.', regex=True)
df=df.apply(pd.to_numeric) 

df_qGeneradait=df.copy()
df_qGeneradait

          1     2     3     4
index
EM1    2.51  2.51  2.51  2.51
EM2    2.95  2.95  2.95  2.95
EM3    2.61  2.60  2.60  2.60
EM4    3.08  3.08  3.07  3.08
EM5    2.32  2.32  2.33  2.32
EM6    2.57  2.56  2.56  2.56
EM7    2.76  2.75  2.79  2.76
EM8    3.65  3.56  3.54  3.58
EM9    3.64  3.61  3.65  3.63
EM10   3.83  3.87  3.85  3.85
EM11   3.91  3.90  3.89  3.90
EM12   2.34  2.35  2.34  2.34
EM13   3.01  3.02  3.04  3.02
EM14   3.46  3.49  3.47  3.47
EM15   2.82  2.77  2.76  2.78
EM16   3.91  3.90  3.89  3.90
EM17   5.08  5.06  5.12  5.09
EM18   2.56  2.55  2.56  2.56
EM19   2.75  2.77  2.76  2.76
EM20   2.91  2.90  2.94  2.92
EM21   3.93  3.90  3.95  3.92
EM22   3.05  3.03  3.06  3.04
EM23   2.47  2.49  2.48  2.48
EM24   3.09  3.09  3.11  3.09
EM25   2.25  2.25  2.25  2.25
EM26   3.06  3.08  3.07  3.07
EM27   2.24  2.25  2.26  2.25
EM28   2.66  2.65  2.68  2.66
EM29   2.67  2.68  2.70  2.68
EM30   2.66  2.65  2.67  2.66
EM31   2.93  2.92  2.95  2.94
EM32   3.23  3.25  3.24  3.24

#### CREACION DE LOS DICCIONARIOS CON LOS DATOS

In [ ]:
# FUNCIÓN PARA PODER PASAR LOS DATOS DE DF A DICT
def ParamsDict2D(df, set1, set2):
  d = {}
  for a in set1:
    d[a]={}
    for b in set2:
      d[a][b] = df.loc[a,b]
  
  return d

In [ ]:
#######---- Datos de los Centros de Tratamiento ----#######

# Costo de tratamiento de un Kg de residuo en el CT j en el tiempo t ($/Kg)
CTratCTjt=ParamsDict2D(df_CTratCTjt, J, T)

# Capacidad máxima del CT j (Kg) 
mMaxCTj={'CT1':111000, 'CT2':125000, 'CT3':95000}

# Costo de almacenar un Kg de residuos en el CT j   ($/Kg) 
CAlmacenCTj={'CT1':0.288, 'CT2':0.218, 'CT3':0.309} 

# Costo de almacenar un Kg de residuos  ya tratados en el CT j  ($/Kg)
CTratAlmacenCTj={'CT1':0.180, 'CT2':0.163, 'CT3':0.216} 

# Máxima cantidad de residuos que se pueden almacenar en el CT j (Kg)
mMaxAlmacenCTj={'CT1':49750, 'CT2':55925, 'CT3':42500}

# Máxima cantidad de residuos ya tratados que se pueden almacenar en el CT j (Kg) 
mMaxTratAlmacenCTj={'CT1':50000, 'CT2':57500, 'CT3':45000}

In [ ]:
#######---- Datos de los Rellenos Sanitarios ----#######

# Costo de entierro de un Kg de residuo en el RS r en el tiempo t ($/Kg)  
CEntierroRSrt=ParamsDict2D(df_CEntierroRSrt, R, T) 

# Capacidad máxima del RS r (Kg) 
mMaxRSr={'RS1':3300000*5, 'RS2':1600000*5, 'RS3': 800000*5} # el dato está por día, se multiplica x5 días a la semana

# Costo de almacenar un Kg de residuos en el RS r ($/Kg) 
CAlmacenRSr={'RS1':0.85/4, 'RS2':0.935/4, 'RS3': 1.0098/4}  # el costo es mensual por eso se divide entre 4

#  Máxima cantidad de residuos que se pueden almacenar en el RS r (Kg)
mMaxAlmacenRSr={'RS1':825000*5, 'RS2':400000*5, 'RS3': 200000*5}

In [ ]:
#######---- Datos de los Establecimientos de Salud ----#######
# Cantidad de Kg de residuo generado por el establecimiento i en el tiempo t (Kg)
qGeneradait=ParamsDict2D(df_qGeneradait, I, T)

In [ ]:
#######---- Datos de Transporte ----#######

#  Costo de transporte de un Kg de residuo  en el tiempo t ($/Kg/Km)
CTranst= {1:0.093, 2:0.093, 3: 0.093, 4:0.093}

# Distancia desde el establecimiento i al CT j (Km) 
dECTij= ParamsDict2D(df_dECTij, I, J) 

# Distancia desde el CT j al RS r (Km) 
dCTRSjr=ParamsDict2D(df_dCTRSjr, J, R)

## DEFINICIÓN DEL MODELO

### VARIABLES

In [ ]:
# Variables continuas
qTransECTijt = LpVariable.dicts("qTransECTijt", ijt, lowBound=0, cat='Continuous')     
qTransCTRSjrt = LpVariable.dicts("qTransCTRSjrt", jrt, lowBound=0, cat='Continuous')   
mTratCTjt = LpVariable.dicts("mTratCTjt", jt, lowBound=0, cat='Continuous')             
mEnterradoRSrt = LpVariable.dicts("mEnterradoRSrt", rt, lowBound=0, cat='Continuous')   
InvCTjt = LpVariable.dicts("InvCTjt", jt, lowBound=0, cat='Continuous')  
InvTratCTjt = LpVariable.dicts("InvTratCTjt", jt, lowBound=0, cat='Continuous') 
InvRSrt = LpVariable.dicts("InvRSrt", rt, lowBound=0, cat='Continuous') 

# Variables Binarias
XusoCTjt = LpVariable.dicts("XusoCTjt", jt, cat='Binary') 
XusoRSrt = LpVariable.dicts("XusoRSrt", rt, cat='Binary')

### DEFINIR FUNCION OBJETIVO

In [ ]:
model = LpProblem("Modelo de Logística Inversa", LpMinimize)

/usr/local/lib/python3.7/dist-packages/pulp/pulp.py:1352: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

In [ ]:
model += (lpSum([CTratCTjt[j][t]*mTratCTjt[(j,t)] for j in J for t in T])
+ lpSum([CEntierroRSrt[r][t]*mEnterradoRSrt[(r,t)] for r in R for t in T])
+ lpSum([CTranst[t]*qTransECTijt[(i,j,t)]*dECTij[i][j] for i in I for j in J for t in T])
+ lpSum([CTranst[t]*qTransCTRSjrt[(j,r,t)]*dCTRSjr[j][r] for r in R for j in J for t in T])
+ lpSum([CAlmacenCTj[j]*InvCTjt[(j,t)] for j in J for t in T])
+ lpSum([CTratAlmacenCTj[j]*InvTratCTjt[(j,t)] for j in J for t in T])
+ lpSum([CAlmacenRSr[r]*InvRSrt[(r,t)] for r in R for t in T])
)

### RESTRICCIONES

##### RESTRICCIONES DE EQUILIBRIO EN LA CADENA LOGÍSTICA

In [ ]:
# Todos los residuos generados en los Establecimientos de Salud deben ser enviados a una Planta de Tratamiento
for t in T:
  for i in I:
    model += lpSum([qTransECTijt[(i,j,t)] for j in J]) == qGeneradait[i][t]

In [ ]:
# Todos los residuos que llegan a la Planta de Tratamiento deben ser tratados en algún periodo::
for j in J:
  model += lpSum([qTransECTijt[(i,j,t)] for i in I for t in T]) == lpSum([mTratCTjt[(j,t)] for t in T])

In [ ]:
# Todos los residuos tratados deben ser enviados a un Relleno Sanitario en algún periodo::
for j in J:
  model += lpSum([mTratCTjt[(j,t)] for t in T]) == lpSum([qTransCTRSjrt[(j,r,t)] for r in R for t in T])

In [ ]:
# Todos los residuos que llegan a un Relleno Sanitario deben ser enterrados en algún periodo::
for r in R:
  model += lpSum([qTransCTRSjrt[(j,r,t)] for j in J for t in T]) == lpSum([mEnterradoRSrt[(r,t)] for t in T])

##### RESTRICCIONES DE INVENTARIOS EN LOS ALMACENES

In [ ]:
# Debe haber equilibrio en el inventario de residuos que llegan a los CT, se asume que el inventario inicial es cero; además, al acabar todos los periodos considerados todos los desechos deben ser tratados, esto implica que la cantidad almacenada en el último periodo también sea cero:
for j in J:
  model += InvCTjt[(j,1)] == 0

for t in T[1:]:
  for j in J:
    model += InvCTjt[(j,t-1)] + lpSum([qTransECTijt[(i,j,t)] for i in I]) - mTratCTjt[(j,t)]  == InvCTjt[(j,t)] 

for j in J:
  model += InvCTjt[(j,4)] == 0

In [ ]:
#Debe haber equilibrio en el inventario de residuos ya tratados en los CT, se asume que el inventario inicial es cero; además, al acabar todos los periodos considerados todos los desechos deben haber sido enviados a algún RS, esto implica que la cantidad almacenada en el último periodo también sea cero:
for j in J:
  model += InvTratCTjt[(j,1)] == 0

for t in T[1:]:
  for j in J:
    model += InvTratCTjt[(j,t-1)] + mTratCTjt[(j,t)] - lpSum([qTransCTRSjrt[(j,r,t)] for r in R])  == InvTratCTjt[(j,t)] 

for j in J:
  model += InvTratCTjt[(j,4)] == 0

In [ ]:
# Debe haber equilibrio en el inventario de desechos que llegan para ser enterrados en los RS, se asume que el inventario inicial es cero; además, al acabar todos los periodos considerados todos los desechos deben haber sido enterrados, esto implica que la cantidad almacenada en el último periodo también sea cero:
for r in R:
  model += InvRSrt[(r,1)] == 0

for t in T[1:]:
  for r in R:
    model += InvRSrt[(r,t-1)] + lpSum([qTransCTRSjrt[(j,r,t)] for j in J]) - mEnterradoRSrt[(r,t)]  == InvRSrt[(r,t)]

for r in R:
  model += InvRSrt[(r,4)] == 0

##### RESTRICCIONES DE CAPACIDAD MÁXIMA DE PROCESAMIENTO

In [ ]:
# Los CPT tienen una capacidad de procesamiento limitada; si la planta no es 
# usada, su capacidad y la cantidad tratada debe ser cero: 
for t in T:
  for j in J:
    model += mTratCTjt[(j,t)] <= mMaxCTj[j]*XusoCTjt[(j,t)]

In [ ]:
# Los RS tienen una capacidad de procesamiento limitada; si el RS no es usado, 
# su capacidad y la cantidad tratada debe ser cero:
for t in T:
  for r in R:
    model += mEnterradoRSrt[(r,t)] <= mMaxRSr[r]*XusoRSrt[(r,t)]

In [ ]:
# Si en algún periodo no hay envío de residuos a un CT, 
# este no estaría en uso ese periodo:
for t in T:
  for j in J:
    model += lpSum([qTransECTijt[(i,j,t)] for i in I]) >= XusoCTjt[(j,t)]

# Si en algún periodo no hay envío de residuos a un RS, 
# este no estaría en uso ese periodo:
for t in T:
  for r in R:
    model += lpSum([qTransCTRSjrt[(j,r,t)] for j in J ]) >= XusoRSrt[(r,t)]

##### RESTRICCIONES DE CAPACIDAD MÁXIMA DE ALMACENAMIENTO

In [ ]:
# Los CT tienen una capacidad de almacenamiento limitada 
# de los residuos no tratados
for t in T:
  for j in J:
    model += InvCTjt[(j,t)] <= mMaxAlmacenCTj[j]*XusoCTjt[(j,t)]

In [ ]:
# Los CT tienen una capacidad de almacenamiento limitada 
# de los residuos ya tratados
for t in T:
  for j in J:
    model += InvTratCTjt[(j,t)] <= mMaxTratAlmacenCTj[j]*XusoCTjt[(j,t)]

In [ ]:
# Los RS tienen una capacidad de almacenamiento limitada:
for t in T:
  for r in R:
    model += InvRSrt[(r,t)] <= mMaxAlmacenRSr[r]*XusoRSrt[(r,t)]

### SOLUCION DEL PROBLEMA

In [ ]:
model.solve()

1

In [ ]:
print("Status:", LpStatus[model.status])

Status: Optimal

In [ ]:
### Imprimimos la solución
for v in model.variables():
  if v.varValue !=0:
    print(v.name, "=", v.varValue)

print("El costo mínimo es: ", value(model.objective))

XusoCTjt_('CT1',_1) = 1.0
XusoCTjt_('CT1',_2) = 1.0
XusoCTjt_('CT1',_3) = 1.0
XusoCTjt_('CT1',_4) = 1.0
XusoCTjt_('CT3',_1) = 1.0
XusoCTjt_('CT3',_2) = 1.0
XusoCTjt_('CT3',_3) = 1.0
XusoCTjt_('CT3',_4) = 1.0
XusoRSrt_('RS2',_1) = 1.0
XusoRSrt_('RS2',_2) = 1.0
XusoRSrt_('RS2',_3) = 1.0
XusoRSrt_('RS2',_4) = 1.0
XusoRSrt_('RS3',_1) = 1.0
XusoRSrt_('RS3',_2) = 1.0
XusoRSrt_('RS3',_3) = 1.0
XusoRSrt_('RS3',_4) = 1.0
mEnterradoRSrt_('RS2',_1) = 54.94
mEnterradoRSrt_('RS2',_2) = 54.84
mEnterradoRSrt_('RS2',_3) = 54.89
mEnterradoRSrt_('RS2',_4) = 54.85
mEnterradoRSrt_('RS3',_1) = 41.97
mEnterradoRSrt_('RS3',_2) = 41.92
mEnterradoRSrt_('RS3',_3) = 42.15
mEnterradoRSrt_('RS3',_4) = 42.01
mTratCTjt_('CT1',_1) = 54.94
mTratCTjt_('CT1',_2) = 54.84
mTratCTjt_('CT1',_3) = 54.89
mTratCTjt_('CT1',_4) = 54.85
mTratCTjt_('CT3',_1) = 41.97
mTratCTjt_('CT3',_2) = 41.92
mTratCTjt_('CT3',_3) = 42.15
mTratCTjt_('CT3',_4) = 42.01
qTransCTRSjrt_('CT1',_'RS2',_1) = 54.94
qTransCTRSjrt_('CT1',_'RS2',_2) = 54.84
qTransCTRSjrt_('CT1',_'RS2',_3) = 54.89
qTransCTRSjrt_('CT1',_'RS2',_4) = 54.85
qTransCTRSjrt_('CT3',_'RS3',_1) = 41.97
qTransCTRSjrt_('CT3',_'RS3',_2) = 41.92
qTransCTRSjrt_('CT3',_'RS3',_3) = 42.15
qTransCTRSjrt_('CT3',_'RS3',_4) = 42.01
qTransECTijt_('EM1',_'CT1',_1) = 2.51
qTransECTijt_('EM1',_'CT1',_2) = 2.51
qTransECTijt_('EM1',_'CT1',_3) = 2.51
qTransECTijt_('EM1',_'CT1',_4) = 2.51
qTransECTijt_('EM10',_'CT3',_1) = 3.83
qTransECTijt_('EM10',_'CT3',_2) = 3.87
qTransECTijt_('EM10',_'CT3',_3) = 3.85
qTransECTijt_('EM10',_'CT3',_4) = 3.85
qTransECTijt_('EM11',_'CT3',_1) = 3.91
qTransECTijt_('EM11',_'CT3',_2) = 3.9
qTransECTijt_('EM11',_'CT3',_3) = 3.89
qTransECTijt_('EM11',_'CT3',_4) = 3.9
qTransECTijt_('EM12',_'CT1',_1) = 2.34
qTransECTijt_('EM12',_'CT1',_2) = 2.35
qTransECTijt_('EM12',_'CT1',_3) = 2.34
qTransECTijt_('EM12',_'CT1',_4) = 2.34
qTransECTijt_('EM13',_'CT3',_1) = 3.01
qTransECTijt_('EM13',_'CT3',_2) = 3.02
qTransECTijt_('EM13',_'CT3',_3) = 3.04
qTransECTijt_('EM13',_'CT3',_4) = 3.02
qTransECTijt_('EM14',_'CT1',_1) = 3.46
qTransECTijt_('EM14',_'CT1',_2) = 3.49
qTransECTijt_('EM14',_'CT1',_3) = 3.47
qTransECTijt_('EM14',_'CT1',_4) = 3.47
qTransECTijt_('EM15',_'CT1',_1) = 2.82
qTransECTijt_('EM15',_'CT1',_2) = 2.77
qTransECTijt_('EM15',_'CT1',_3) = 2.76
qTransECTijt_('EM15',_'CT1',_4) = 2.78
qTransECTijt_('EM16',_'CT3',_1) = 3.91
qTransECTijt_('EM16',_'CT3',_2) = 3.9
qTransECTijt_('EM16',_'CT3',_3) = 3.89
qTransECTijt_('EM16',_'CT3',_4) = 3.9
qTransECTijt_('EM17',_'CT3',_1) = 5.08
qTransECTijt_('EM17',_'CT3',_2) = 5.06
qTransECTijt_('EM17',_'CT3',_3) = 5.12
qTransECTijt_('EM17',_'CT3',_4) = 5.09
qTransECTijt_('EM18',_'CT3',_1) = 2.56
qTransECTijt_('EM18',_'CT3',_2) = 2.55
qTransECTijt_('EM18',_'CT3',_3) = 2.56
qTransECTijt_('EM18',_'CT3',_4) = 2.56
qTransECTijt_('EM19',_'CT1',_1) = 2.75
qTransECTijt_('EM19',_'CT1',_2) = 2.77
qTransECTijt_('EM19',_'CT1',_3) = 2.76
qTransECTijt_('EM19',_'CT1',_4) = 2.76
qTransECTijt_('EM2',_'CT1',_1) = 2.95
qTransECTijt_('EM2',_'CT1',_2) = 2.95
qTransECTijt_('EM2',_'CT1',_3) = 2.95
qTransECTijt_('EM2',_'CT1',_4) = 2.95
qTransECTijt_('EM20',_'CT3',_1) = 2.91
qTransECTijt_('EM20',_'CT3',_2) = 2.9
qTransECTijt_('EM20',_'CT3',_3) = 2.94
qTransECTijt_('EM20',_'CT3',_4) = 2.92
qTransECTijt_('EM21',_'CT3',_1) = 3.93
qTransECTijt_('EM21',_'CT3',_2) = 3.9
qTransECTijt_('EM21',_'CT3',_3) = 3.95
qTransECTijt_('EM21',_'CT3',_4) = 3.92
qTransECTijt_('EM22',_'CT1',_1) = 3.05
qTransECTijt_('EM22',_'CT1',_2) = 3.03
qTransECTijt_('EM22',_'CT1',_3) = 3.06
qTransECTijt_('EM22',_'CT1',_4) = 3.04
qTransECTijt_('EM23',_'CT1',_1) = 2.47
qTransECTijt_('EM23',_'CT1',_2) = 2.49
qTransECTijt_('EM23',_'CT1',_3) = 2.48
qTransECTijt_('EM23',_'CT1',_4) = 2.48
qTransECTijt_('EM24',_'CT1',_1) = 3.09
qTransECTijt_('EM24',_'CT1',_2) = 3.09
qTransECTijt_('EM24',_'CT1',_3) = 3.11
qTransECTijt_('EM24',_'CT1',_4) = 3.09
qTransECTijt_('EM25',_'CT3',_1) = 2.25
qTransECTijt_('EM25',_'CT3',_2) = 2.25
qTransECTijt_('EM25',_'CT3',_3) = 2.25
qTransECTijt_('EM25',_'CT3',_4) = 2.25
qTransECTijt_('EM26',_'CT1',_1) = 3.06
qTransECTijt_('EM26',_'CT1',_2) = 3.08
qTransECTijt_('EM26',_'CT1',_3) = 3.07
qTransECTijt_('EM26',_'CT1',_4) = 3.07
qTransECTijt_('EM27',_'CT1',_1) = 2.24
qTransECTijt_('EM27',_'CT1',_2) = 2.25
qTransECTijt_('EM27',_'CT1',_3) = 2.26
qTransECTijt_('EM27',_'CT1',_4) = 2.25
qTransECTijt_('EM28',_'CT3',_1) = 2.66
qTransECTijt_('EM28',_'CT3',_2) = 2.65
qTransECTijt_('EM28',_'CT3',_3) = 2.68
qTransECTijt_('EM28',_'CT3',_4) = 2.66
qTransECTijt_('EM29',_'CT3',_1) = 2.67
qTransECTijt_('EM29',_'CT3',_2) = 2.68
qTransECTijt_('EM29',_'CT3',_3) = 2.7
qTransECTijt_('EM29',_'CT3',_4) = 2.68
qTransECTijt_('EM3',_'CT1',_1) = 2.61
qTransECTijt_('EM3',_'CT1',_2) = 2.6
qTransECTijt_('EM3',_'CT1',_3) = 2.6
qTransECTijt_('EM3',_'CT1',_4) = 2.6
qTransECTijt_('EM30',_'CT1',_1) = 2.66
qTransECTijt_('EM30',_'CT1',_2) = 2.65
qTransECTijt_('EM30',_'CT1',_3) = 2.67
qTransECTijt_('EM30',_'CT1',_4) = 2.66
qTransECTijt_('EM31',_'CT3',_1) = 2.93
qTransECTijt_('EM31',_'CT3',_2) = 2.92
qTransECTijt_('EM31',_'CT3',_3) = 2.95
qTransECTijt_('EM31',_'CT3',_4) = 2.94
qTransECTijt_('EM32',_'CT1',_1) = 3.23
qTransECTijt_('EM32',_'CT1',_2) = 3.25
qTransECTijt_('EM32',_'CT1',_3) = 3.24
qTransECTijt_('EM32',_'CT1',_4) = 3.24
qTransECTijt_('EM4',_'CT1',_1) = 3.08
qTransECTijt_('EM4',_'CT1',_2) = 3.08
qTransECTijt_('EM4',_'CT1',_3) = 3.07
qTransECTijt_('EM4',_'CT1',_4) = 3.08
qTransECTijt_('EM5',_'CT3',_1) = 2.32
qTransECTijt_('EM5',_'CT3',_2) = 2.32
qTransECTijt_('EM5',_'CT3',_3) = 2.33
qTransECTijt_('EM5',_'CT3',_4) = 2.32
qTransECTijt_('EM6',_'CT1',_1) = 2.57
qTransECTijt_('EM6',_'CT1',_2) = 2.56
qTransECTijt_('EM6',_'CT1',_3) = 2.56
qTransECTijt_('EM6',_'CT1',_4) = 2.56
qTransECTijt_('EM7',_'CT1',_1) = 2.76
qTransECTijt_('EM7',_'CT1',_2) = 2.75
qTransECTijt_('EM7',_'CT1',_3) = 2.79
qTransECTijt_('EM7',_'CT1',_4) = 2.76
qTransECTijt_('EM8',_'CT1',_1) = 3.65
qTransECTijt_('EM8',_'CT1',_2) = 3.56
qTransECTijt_('EM8',_'CT1',_3) = 3.54
qTransECTijt_('EM8',_'CT1',_4) = 3.58
qTransECTijt_('EM9',_'CT1',_1) = 3.64
qTransECTijt_('EM9',_'CT1',_2) = 3.61
qTransECTijt_('EM9',_'CT1',_3) = 3.65
qTransECTijt_('EM9',_'CT1',_4) = 3.63
El costo mínimo es:  2097.2090689999986